---
layout: layouts/base.njk
title: About Us | SUPA DUPA SUPA PUNK | SDSP
description: "Learn more about SUPA DUPA SUPA PUNK (a.k.a. SDSP), a Toronto post-punk indie band."
permalink: /about/index.html
---

<section id="about" class="subpage-section">
  <h2>About Us</h2>
  <div class="about-text">
    <p>
      <strong>SUPA DUPA SUPA PUNK</strong>
      (a.k.a.
      <b>SDSP</b>) is a stripped-down, riff-driven, post-punk indie offshoot of
      <a style="color: white; font-weight: bold" href="https://www.swimdadstheband.com">Swim Dads</a>. The band leans into
        loud, heavy and fun original material that frequently confuses and disappoints our parents.</p>
  </div>
</section>