---
layout: layouts/base.njk
title: Demos | SUPA DUPA SUPA PUNK (SDSP)
description: "Listen to demos and recordings by SUPA DUPA SUPA PUNK (SDSP)."
permalink: /demos/index.html
---

<section id="demos" class="subpage-section">
  <h2>Demos</h2>
  <p>
    <a style="color: white" href="https://www.youtube.com/watch?v=5FhcrBlJoCs" target="_blank">"Sacrifice"</a>
  </p>
  <p>
    <a style="color: white" href="https://www.youtube.com/watch?v=0Db-kgGaD0U" target="_blank">"Ticket To Paradise"</a>
  </p>
  <p>
    <a style="color: white" href="https://www.youtube.com/watch?v=qSpNRPGtxFg" target="_blank">"Chasing Shadows"</a>
  </p>
  <p>
    <a style="color: white" href="https://www.youtube.com/watch?v=dReAaEEZ0y8" target="_blank">"Take Me Home"</a>
  </p>
  <p>
    <a style="color: white" href="https://youtu.be/Xf4keGs28fk?si=fk5SwnF1WMbqu2m3&t=47" target="_blank">"10K Hours"</a>
  </p>
</section>
