---
layout: layouts/base.njk
title: SUPA DUPA SUPA PUNK | SDSP | Toronto Post-punk Band
description: "SUPA DUPA SUPA PUNK (a.k.a. SDSP) are a Toronto post-punk indie band serving up heavy riffs."
extra_scripts: '<script src="/assets/js/shows.js"></script>'
permalink: /index.html
---

<header>
  <div class="header-container"></div>
</header>
<section id="coming-soon" class="coming-soon-section">
  <div class="ep-preview-container">
    <div class="ep-cover-art">
      <img src="/covers/sdsp-ep-cover-1024x1024.jpg" alt="SDSP EP Cover Art">
    </div>
    <div class="ep-details">
      <span class="subtitle">Coming soon! A new 3-song EP.</span>
      <h3>"SDSP"</h3>
      <ul class="tracklist">
        <li>
          <strong>Track 1:</strong>
          Chasing Shadows</li>
        <li>
          <strong>Track 2:</strong>
          Sacrifice</li>
        <li>
          <strong>Track 3:</strong>
          Ticket to Paradise</li>
      </ul>
      <p class="release-info">Available for download and on all streaming platforms in May 2026.</p>
    </div>
  </div>
</section>
<section id="shows" class="shows-section shows-section-home">
  <h2>Upcoming Shows</h2>
  <div id="upcoming-shows" class="shows-group">
    <div class="shows-list"></div>
  </div>
  <div id="past-shows" class="shows-group" style="display: none">
    <h3>Past</h3>
    <div class="shows-list"></div>
  </div>
</section>
<section id="watch">
  <h2>Watch / Listen</h2>
  <div class="video-grid">
    <div class="video-grid-item">
      <iframe class="vid-frame" src="https://www.youtube.com/embed/RX8tF9D8BFU?si=sD9CTJ2-Q3T-Pqd9" title="Sacrifice"></iframe>
      <p style="color:#999;font-size:0.9rem;">"Sacrifice" - Live at Supermarket - Feb 20, 2026</p>
    </div>
    <div class="video-grid-item">
      <iframe
        class="vid-frame"
        src="https://www.youtube.com/embed/XUwyvAkMQlk?si=eXtuq4OCzBKXsp6v"
        title="10K Hours Live at Supermarket"></iframe>
      <p style="color:#999;font-size:0.9rem;">"10K Hours" - Live at Supermarket - Feb 20, 2026</p>
    </div>
  </div>
</section>
<br/><br/>