---
layout: layouts/base.njk
title: Shows | SUPA DUPA SUPA PUNK | SDSP
description: "Upcoming Shows and Tickets | SUPA DUPA SUPA PUNK (SDSP)"
permalink: /shows/index.html
---

<section id="shows" class="shows-section">
  <h2>Shows</h2>
  <div class="shows-list">
    <script charset="utf-8" src="https://widgetv3.bandsintown.com/main.min.js"></script>
    <a
      class="bit-widget-initializer"
      data-artist-name="id_15647911"
      data-background-color="rgba(17,17,17,1)"
      data-separator-color="rgba(221,221,221,1)"
      data-text-color="rgba(255,255,255,1)"
      data-display-local-dates="false"
      data-local-dates-position="aboveUpcoming"
      data-display-past-dates="true"
      data-social-share-icon="false"
      data-date-format="MMM. D, YYYY"
      data-date-orientation="horizontal"
      data-event-rsvp-position="hidden"
      data-follow-section-position="hidden"
      data-follow-section-alignment="center"
      data-follow-section-cta-text="FOLLOW"
      data-play-my-city-position="bottom"
      data-play-my-city-alignment="center"
      data-play-my-city-cta-size="medium"
      data-play-my-city-cta-text="REQUEST A SHOW"
      data-play-my-city-cta-icon="true"
      data-app-id="a7395f7ab00bb77e2fe918ac7c185c49"
      data-bit-logo-position="hidden"
      data-bit-logo-color="rgba(255,255,255,1)"></a>
  </div>
</section>